__pycache__/
*.pyc

.venv/
venv/
env/

.vscode/
.idea/

*.log

secrets/*
!secrets/*_example.txt

gitlab/secrets/*
!gitlab/secrets/*_example.txt

certs/*.key
gitlab/certs/*.key

gitlab/config/
gitlab/logs/
gitlab/data/

pgdata/
mongodata/
